@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
.delius-regular {
  font-family: 'Delius', serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: rgb(236, 236, 236);
  --secondary-color: #1c1e19;
  --terciary-color: #18191a;
  --border-color: #3f4143;
  --orange-color: #eb6f40;
  --spacing: 28px;
  font-family: 'Delius', serif;
  margin: 0;
  padding: 0;
  background-color: #1c1e21;
}

body {
  padding: 0;
  margin: 0;
  color: var(--primary-color);
  display: grid;
  max-width: 98%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 30px;
}
.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(0px 5px 10px #eb6f40);
  /* box-shadow: 4px 12px 15px #eb6f40; */
}
header {
  padding-top: 10px;
  color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 4fr;
  max-height: 110px;
  grid-template-rows: 110px;
  max-width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 18px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 20px;
}
.menu {
  display: none;
}
nav {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 45% 55%;
  align-self: start;
}
.session {
  display: grid;
  align-content: center;
  justify-content: end;
  align-items: center;
  padding-right: 20px;
  grid-template-columns: 95% 5%;
}

.buscar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  border-radius: 10px;
  padding: 8px;
  width: 80%;
  background: var(--secondary-color);
  color: var(--primary-color);

  resize: none;
  outline: 0 none;
  border: 0;
}
.buscar > button {
  background: none;
  border: none;
  cursor: pointer;
}
button > img {
  width: 23px;
  height: 23px;
}

nav > ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
}
nav > ul > li {
  border: 2px solid --blue-color;
}
a:hover {
  text-shadow: 2px 3px 5px #eb6f40;
  cursor: pointer;
}
.session > img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  filter: drop-shadow(0px 5px 10px #eb6f40);
}

main {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr 4fr;
  padding: 10px;
}
.navegador {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  /*   border: 1px solid var(--border-color); */
  width: auto;
  justify-items: start;
  align-items: start;
  justify-content: start;
  align-content: start;
  padding: 10px;
}
.navegador > h2 {
  align-self: center;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 0.5rem;
}
.navegador > ul {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr;
  width: 100%;
  grid-template-rows: repeat(10, 50px);
  list-style: none;
  justify-items: start;
  border: 1px solid var(--border-color);
  justify-items: start;
  align-items: center;
  justify-self: start;
}
.navegador > ul > li {
  max-width: 100%;
  padding: 10px;
}

.modelos {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr;
}
.gallery {
  display: grid;
  min-width: auto;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-template-rows: auto;
  list-style: none;
  padding: 20px;
  margin: 0;
  gap: var(--spacing);
}
.gallery > li > img {
  max-width: 260px;
  max-height: 260px;
  object-fit: cover;
  border-radius: 1px;
}
.gallery > li {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(auto-fill, minmax(240px, 1fr));
  align-items: center;
  justify-items: center;
  padding: 0px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  background: var(--terciary-color);
  color: var(--primary-color);
  text-align: center;
  font-size: 15px;
  font-variant: small-caps;
  text-shadow: 2px 3px 5px #eb6f40;
  cursor: pointer;
  overflow: hidden; /* oculta el exceso de imagen */
}

h4 {
  color: var(--primary-color);
  font-size: 15px;
  font-variant: small-caps;
}

/* Responsive Design */
@media (max-width: 1000px) {
  body {
    font-size: 14px;
  }
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
  }
  .gallery > li {
    grid-template-columns: auto;
    grid-template-rows: repeat(auto-fill, minmax(180px, 1fr));
  }
  .gallery > li > img {
    max-width: 240px;
    max-height: 240px;
  }
  h4 {
    font-size: 12px;
  }
  nav > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    gap: 5px;
  }
  nav > ul > li {
    font-size: 14px;
  }
  .session > img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 700px) {
  .body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
  }
  .navegador {
    display: none;
  }
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 5px;
  }
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
  }
  .gallery > li {
    grid-template-columns: auto;
    grid-template-rows: repeat(auto-fill, minmax(180px, 1fr));
  }
  .gallery > li > img {
    max-width: 240px;
    max-height: 240px;
  }
  h4 {
    font-size: 12px;
  }
  header {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding-left: 10px;
    padding-right: 10px;
  }
  nav {
    display: none;
  }
  .logo {
    width: 60%;
    height: 60%;
    object-fit: cover;
    filter: drop-shadow(0px 2px 4px #eb6f40);
  }
  .menu {
    display: grid;
    width: 40px;
    height: 40px;
    cursor: pointer;
    filter: drop-shadow(0px 2px 4px #eb6f40);
  }
}
